#walrus-showing {
  display: none;
}

#walrus-fade-out {
  display: none;
}

#walrus-slide-down {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.fadeable {
  cursor: pointer;
  color: #0088cc;
}

.fadeable:hover {
  text-decoration: underline;
}

.slideable {
  cursor: pointer;
  color: #0088cc;
}

.slideable:hover {
  text-decoration: underline;
}